
<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Create a Class</h1>
    <ol class="breadcrumb">
        <li><a href="index.html">Schedule Class</a></li>
        <li class="active">Create class</li>
    </ol>

    <!-- Start Page Header Right Div -->
    <!--<div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>-->
    <!-- End Page Header Right Div -->

</div>
<!-- End Page Header -->
<div class="container-padding">



    <!-- Start Row -->
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-title">
                    Fill the below details
                    <!--<ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>-->
                </div>

                <div class="panel-body">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="input-topic" class="col-sm-2 control-label form-label">Topic</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-topic">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="input-topic" class="col-sm-2 control-label form-label">Start Date</label>
                            <div class="col-sm-10">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="date-picker1" class="form-control " value="03/18/2015"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="timeDuration" class="col-sm-2 control-label form-label">Duration</label>
                            <div class="col-sm-10">
                                <label class="sr-only" for="timeDuration">Time (in hours)</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-history"></i></div>
                                    <input type="text" class="form-control" id="timeDuration" placeholder="Time in hours">
                                    <div class="input-group-addon">hours</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Invite others</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="textarea_invite_others" placeholder="Mention email id separated by comma"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i>Schedule it</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- End Row -->



    <!-- Start Row -->
    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">Date Pickers</div>
                <div class="panel-body">

                    <p>Date Range Picker - A JavaScript widget for choosing date ranges. - <a href="http://www.`picker.com/" target="_blank">Official documentation</a></p>

                    <div class="col-md-12 col-lg-3">
                        <h5>Date Picker</h5>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="date-picker" name="daterange" class="form-control" value="03/18/2015"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-md-12 col-lg-3">
                        <h5>Date Range Picker</h5>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="date-range-picker" class="form-control" value="03/18/2015 - 03/23/2015" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <h5>Date Range and Time Picker</h5>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="date-range-and-time-picker" class="form-control" value="08/01/2015 1:00 PM - 08/01/2015 1:30 PM"  class="span4"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>-->
    <!-- End Row -->
</div>