<div class="container-no-padding">

    <!-- Start Social Profile -->
    <div class="social-profile">

        <!-- Start Top -->
        <div class="social-top">

            <div class="profile-left">
                <img src="img/profileimg.png" alt="img" class="profile-img">
                <h1 class="name">Jonathan Doe <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i>Add Friend</a>--></h1>
                <p class="profile-text">There can be no thought of finishing...</p>
            </div>

            <ul class="social-stats">
                <li><b>16</b>classes</li>
                <li><b>10</b>recording</li>
            </ul>

        </div>
    </div>

</div>