<div class="login-form">
    <form name="login_form">
        <div class="top">
            <img src="img/christ_univ_logo.png" alt="icon" class="icon">
            <h1>Christ University</h1>
            <h4>Providing seamless video conference</h4>
        </div>

        <!-- Start an Alert -->
        <div ng-show="status.request_success" class="kode-alert kode-alert-icon alert3">
            <i class="fa fa-check"></i>
            <a href="#" class="closed">&times;</a>
            {{message}}
        </div>
        <!-- End an Alert -->

        <!-- Start an Alert -->
        <div ng-show="status.request_failure" class="kode-alert kode-alert-icon alert6">
            <i class="fa fa-lock"></i>
            <a href="#" class="closed">&times;</a>
            {{message}}
        </div>
        <!-- End an Alert -->


        <div class="form-area">
            <div class="group">
                <input type="text" class="form-control" placeholder="EmailId" ng-model="user.emailId" required>
                <i class="fa fa-user"></i>
            </div>
            <div class="group">
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                <i class="fa fa-key"></i>
            </div>
            <div class="checkbox checkbox-primary">
                <input id="checkbox101" type="checkbox" checked>
                <label for="checkbox101"> Remember Me</label>
            </div>
            <button type="submit" ng-click="login_form.$valid && login()" class="btn btn-default btn-block">LOGIN
            </button>
        </div>
    </form>
    <div class="footer-links row">
        <div class="col-xs-6"><a href="#/admin/register"><i class="fa fa-external-link"></i> Register Now</a></div>
        <div class="col-xs-6 text-right"><!--<a href="#">--><i class="fa fa-lock"></i> Forgot password<!--</a>--></div>
    </div>
</div>