<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Past Classes</h1>
    <ol class="breadcrumb">
        <li><a href="index.html">Schedule Class</a></li>
        <li class="active">Past Tables</li>
    </ol>

    <!-- Start Page Header Right Div -->
    <!--<div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>-->
    <!-- End Page Header Right Div -->

</div>
<!-- End Page Header -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">

    <!-- Start Row -->
    <div class="row">

        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Classes in the past
                </div>
                <div class="panel-body table-responsive">

                    <table id="example0" class="table display">
                        <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Duration(hrs)</th>
                            <th>Recorded URL</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Topic</th>
                            <th>Duration(hrs)</th>
                            <th>Recorded URL</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr ng-repeat="meeting in pastClasses">
                            <td>{{meeting.title}}</td>
                            <td>{{meeting.duration}}</td>
                            <td>{{meeting.recordedUrl}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
        <!-- End Panel -->


    </div>
</div>