<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Upcoming Classes</h1>
    <ol class="breadcrumb">
        <li><a href="index.html">Schedule Class</a></li>
        <li class="active">Upcoming Tables</li>
    </ol>

    <!-- Start Page Header Right Div -->
    <!--<div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>-->
    <!-- End Page Header Right Div -->

</div>
<!-- End Page Header -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">

    <!-- Start Row -->
    <div class="row">

        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Classes scheduled
                </div>
                <div class="panel-body table-responsive">

                    <table id="example0" class="table display">
                        <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Start Time</th>
                            <th>Duration</th>
                            <th>Presenter URL</th>
                            <th>Attendee URL</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Topic</th>
                            <th>Start Time</th>
                            <th>Duration</th>
                            <th>Presenter URL</th>
                            <th>Attendee URL</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr>
                            <td>Linear Algebra</td>
                            <td>12:23</td>
                            <td>3 hrs</td>
                            <td>http://u.videocloud.com/p/xvu</td>
                            <td>http://u.videocloud.com/a/xvu</td>
                        </tr>
                        <tr>
                            <td>Geometry</td>
                            <td>1:23</td>
                            <td>2 hrs</td>
                            <td>http://u.videocloud.com/p/rvu</td>
                            <td>http://u.videocloud.com/a/vvu</td>
                        </tr>
                        <tr>
                            <td>Programming</td>
                            <td>2:23</td>
                            <td>1 hrs</td>
                            <td>http://u.videocloud.com/p/x55</td>
                            <td>http://u.videocloud.com/a/x8u</td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
        <!-- End Panel -->


    </div>
</div>