<!-- Start Page Header -->
<div class="page-header">
    <!--<h1 class="title">Upcoming Classes</h1>-->
    <ol class="breadcrumb">
        <li><a href="index.html">Schedule Class</a></li>
        <li class="active">Upcoming Tables</li>
    </ol>

    <!-- Start Page Header Right Div -->
    <!--<div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>-->
    <!-- End Page Header Right Div -->

</div>
<!-- End Page Header -->


<!-- Start Presentation -->
<div class="row presentation">

    <div class="col-lg-8 col-md-6 titles">
        <span class="icon color9-bg"><i class="fa fa-th"></i></span>
        <h1>Upcoming Classes</h1>
        <h4>Check your upcoming appointments.</h4>
    </div>

    <!--<div class="col-lg-4 col-md-6">
        <ul class="list-unstyled list">
            <li><i class="fa fa-check"></i>Responsive<li>
            <li><i class="fa fa-check"></i>Style Options<li>
            <li><i class="fa fa-check"></i>Based on <a href="http://getbootstrap.com/css/#tables" target="_blank">Bootstrap Tables</a><li>
        </ul>
    </div>-->

</div>
<!-- End Presentation -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">

    <!-- Start Row -->
    <div class="row">

        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Classes scheduled
                </div>
                <div class="panel-body table-responsive">

                    <span ng-show="!upcomingClasses.length">
                        <h4 class="color6">You have no scheduled classroom appointments.</h4>
                        <p>Start by scheduling one class!</p>
                        <a href="#/admin/class/create" class="btn btn-sm">Create Class</a>
                    </span>

                    <table id="example0" class="table display" ng-show="upcomingClasses.length">
                        <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Start Time</th>
                            <th>Duration(hrs)</th>
                            <th>Presenter URL</th>
                            <th>Attendee URL</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Topic</th>
                            <th>Start Time</th>
                            <th>Duration(hrs)</th>
                            <th>Presenter URL</th>
                            <th>Attendee URL</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr ng-repeat="meeting in upcomingClasses">
                            <td>{{meeting.title}}</td>
                            <td>{{meeting.dateTimeInString}}</td>
                            <td>{{meeting.duration}}</td>
                            <td>http://u.videocloud.com/p/{{meeting.presenterToken}}</td>
                            <td>http://u.videocloud.com/a/{{meeting.attendeesUrl}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
        <!-- End Panel -->


    </div>
</div>